<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-icon 
    (click)="newPost()"
    ios="ios-add-circle" 
    md="md-add-circle"></ion-icon>
  <!--<ul>
    <li *ngFor="let list of lists | async" (click)="updateList(list)">
      <h5>#{{ list.index }} - {{ list.name }}</h5>
      <p>{{ list.about | limit : 20 }}</p>
      <span (click)="removeList(list)">remove</span>
      <hr />
    </li>
  </ul>-->
  <ion-card *ngFor="let list of lists | async">
    <ion-card-content>
      <ion-card-title> # {{list.index}} - {{ list.name }}</ion-card-title>
      <p>{{ list.about | limit : 50 }}</p>
      <a (click)="detailPage(list)">More details </a>
    </ion-card-content>
  </ion-card>
</ion-content>
